<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>74521091452-hsnjp9hu9i9op3ts47jqeh70aua1mlcn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.74521091452-hsnjp9hu9i9op3ts47jqeh70aua1mlcn</string>
	<key>API_KEY</key>
	<string>AIzaSyBDbiT9ORRAYotUcqLeivAtJlHC1w2Erhk</string>
	<key>GCM_SENDER_ID</key>
	<string>74521091452</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.soheltanvir.ChatAppRealtime</string>
	<key>PROJECT_ID</key>
	<string>chatapprealtime-8ac36</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapprealtime-8ac36.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:74521091452:ios:f6fd76dd58b45c151ed8f9</string>
	<key>DATABASE_URL</key>
	<string>https://chatapprealtime-8ac36.firebaseio.com</string>
</dict>
</plist>